:root {
  --dark-color: #1c3738;
  --light-color: #679289;
  --highlight-color: #57a773;
  --neutral-color: #d7cdcc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--dark-color);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.promptBg {
  background-color: #1c3738c5;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.newBookPrompt {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  white-space: nowrap;
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  border-radius: 20px;
  gap: 20px;
  color: var(--dark-color);
  height: 300px;
  width: 300px;
}

input {
  display: block;
}

input[type="text"],
input[type="number"] {
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding-left: 10px;
  margin-bottom: 30px;
  border: 0px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  background-color: var(--neutral-color);
  height: 100px;
  color: var(--dark-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0px 30px;
}

.headerBtn {
  justify-self: end;
  display: flex;
  gap: 10px;
}

.headerBtn button {
  width: 50px;
  height: 50px;
}

.headerBtn img {
  width: 30px;
}

#heart {
  position: relative;
  top: 3px;
}

h1 {
  display: inline;
}

.add {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

button {
  background-color: var(--highlight-color);
  border: 0px;
  border-radius: 50%;
  transition: 0.3s;
}

button:hover {
  background-color: #4d9366;
}

.add button {
  width: 80px;
  height: 80px;
}

.add img {
  width: 50px;
  position: relative;
  top: 3px;
}
