:root {
  --dark-color: #1c3738;
  --light-color: #679289;
  --highlight-color: #57a773;
  --neutral-color: #d7cdcc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Prata", serif;
}

body {
  background-color: var(--dark-color);
}

.header {
  background-color: var(--neutral-color);
  height: 100px;
  color: var(--dark-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0px 30px;
}

.headerBtn {
  justify-self: end;
  display: flex;
  gap: 10px;
}

.headerBtn button {
  background-color: var(--highlight-color);
  border: 0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.headerBtn img {
  width: 30px;
}

#heart {
  position: relative;
  top: 3px;
}

h1 {
  display: inline;
}
